<ion-header>
 
  <ion-navbar>
    <ion-title>cadastro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


<form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block (click)="submit()" color="dark">Submit</button>

  </form>




</ion-content>
