
<ion-header>

  <ion-navbar>
    <ion-title>categorias</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/icons8-fox-50.png">
      </ion-thumbnail>
      <h2>Mais vistos</h2>
      <p>Vingadores • Pantera Negra</p>
      <button ion-button clear item-end>View</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/icons8-fox-50.png">
      </ion-thumbnail>
      <h2>Melhores notas</h2>
      <p>Homem Aranha • batman</p>
      <button ion-button clear item-end>View</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/icons8-fox-50.png">
      </ion-thumbnail>
      <h2>Lancamentos</h2>
      <p>Senhor dos anéis • Shazam</p>
      <button ion-button clear item-end>View</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/icons8-fox-50.png">
      </ion-thumbnail>
      <h2>Em cartaz</h2>
      <p>Haloween • Peppa Pig</p>
      <button ion-button clear item-end>View</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/icons8-fox-50.png">
      </ion-thumbnail>
      <h2>Lancamentos</h2>
      <p>Robert Zemeckis • 1985</p>
      <button ion-button clear item-end>View</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/icons8-fox-50.png">
      </ion-thumbnail>
      <h2>The Empire Strikes Back</h2>
      <p>Irvin Kershner • 1980</p>
      <button ion-button clear item-end>View</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/icons8-fox-50.png">
      </ion-thumbnail>
      <h2>The Terminator</h2>
      <p>James Cameron • 1984</p>
      <button ion-button clear item-end>View</button>
    </ion-item>

  </ion-list>
</ion-content>
