<ion-menu [content]="content" >
  <ion-header>
    <ion-toolbar>
      <ion-avatar item-start>
        <img src="assets/imgs/avatar1.jpg" style="size: 5px;" (click)="GoToPage('PerfilPage')">
        <h5 align="center">{{ username }}</h5>
      </ion-avatar>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item>
        <ion-icon ios="ios-home" md="md-home"></ion-icon>
        Início
      </button>
      <button ion-item (click)="GoToPage('PesquisaFilmesPage')">
        <ion-icon ios="ios-search" md="md-search"></ion-icon>
        Pesquisar
      </button>
      <button ion-item (click)="GoToPage('ConquistasPage')">
        <ion-icon ios="ios-trophy" md="md-trophy"></ion-icon>
        Conquistas
      </button>
      <button ion-item (click)="GoToPage('CategoriasPage')">
        <ion-icon ios="ios-film" md="md-film"></ion-icon>
        Categorias
      </button>
      <button ion-item (click)="GoToPage('FeedbackPage')">
        <ion-icon ios="ios-help-circle" md="md-help-circle"></ion-icon>
        Feedback
      </button>
      <button ion-item (click)="GoToPage('ConfiguracoesPage')">
        <ion-icon ios="ios-construct" md="md-construct"></ion-icon>
        Configurações
      </button>
      <button ion-item (click)="GoToPage('LoginPage')">
        <ion-icon ios="ios-exit" md="md-exit"></ion-icon>
        Sair
      </button>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
<ion-header>
  <ion-toolbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon ios="ios-film" md="md-film"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title alin="center"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- buscando dados da variável criada no movie.ts-->
  <ion-card class="card-home" *ngFor="let filme of lista_filmes">
    <!--Concatenação do link das imagems + json das images-->
    <img [src]="'https://image.tmdb.org/t/p/w500/' + filme.backdrop_path" (click)="filmeDetalhes(filme)"/>
  </ion-card>
</ion-content>
