.card-home:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

ion-avatar, ion-thumbnail {
    display: block;
    line-height: 1;
    width: 100px;
    margin-left: 90px;
}


