<ion-header >

    <ion-navbar >
      <ion-title>Detalhes</ion-title>
    </ion-navbar>

  </ion-header>

<ion-content class="card-background-page">
    <ion-card class="card-info" *ngIf="filme">

     <img [src]="'https://image.tmdb.org/t/p/w500/' + filme.backdrop_path"/>
      <h2 align="center"><strong>{{filme.original_title}}</strong></h2>
      <h6 padding>{{filme.overview}}</h6>
      <div padding>
          <h6 ><strong>Duração: </strong>{{filme.runtime}}</h6>
          <h6 ><strong>Lancamento: </strong>{{filme.release_date}}</h6>
          <h6 ><strong>Gênero: </strong>{{filme.genres.name}}</h6>
          <h6 ><strong>Diretor: </strong>{{filme.genres.name}}</h6>
      </div>
      <h2 align="center">Elenco</h2>

      <!--<ion-fab right center>
        <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
        <!--<ion-fab-list side="left">
          <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
        </ion-fab-list>



      <ion-fab-list side="left">
        <ion-card>
          <ion-card-header>
            Card Header
            </ion-card-header>
          <ion-card-content>
            isso aqui é o conteúdo
          </ion-card-content>

        </ion-card>

        <ion-card>
          <ion-card-header>
            Card Header
            </ion-card-header>
          <ion-card-content>
            isso aqui é o conteúdo
          </ion-card-content>

        </ion-card>
      </ion-fab-list>
</ion-fab>-->
    </ion-card>
  </ion-content>
