<ion-content class="container">
  <!--container pra organizar-->
    <img src="assets/icon/logo500x500.png" class="logo">
   <div padding class="inputLogin">

     <!--  <ion-item>
          <ion-icon ios="ios-person" md="md-person" item-start></ion-icon>
        <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item >
          <ion-icon ios="ios-key" md="md-key" item-start></ion-icon>
        <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <br>
      <div class = "buttonLogin">
        <button ion-button full color="dark" (click)="GoToPage('HomePage')">Entrar</button>
      </div>-->
        <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-icon name="md-person" item-start></ion-icon>
        <ion-input type="email" placeholder="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="md-key" item-start></ion-icon>
        <ion-input type="password" placeholder="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block (click)="submit()" color="dark">Submit</button>

  </form>

  </div>

  
        <a href="#"><ion-icon name="logo-google" class="google"></ion-icon></a>
        <a href="#"><ion-icon name="logo-facebook" class="facebook"></ion-icon></a>


        <p class="criarConta">Não tem uma conta? Que tar <strong><a (click)="GoToCadastro()">criar uma?</a></strong></p>

      <!--<ion-icon name="logo-google" class="google"></ion-icon>-->

</ion-content>

