page-login{

  .inputLogin{
      margin-bottom: 10px;
    }

  .container{
    background-color: yellow;
    text-align: center;
  }

  .logo{
    width: 250px;
  }


  .google{
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    margin-left: -20%;
  }

  .facebook{
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    margin-right: -20%;
  }


  .scroll-content{ /*correção do formulário de login*/
    padding-bottom: 0!important;
  }
  
  ion-item{
    background-color: yellow;
  }
  .criarConta {
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Mesma Altura do Rodapé */
 }
 .criarConta{
   text-decoration: none;
 }
}
