<ion-slides pager>

  <ion-slide style="background-color: white">
    
    <h2>Olá, seja bem vindo</h2>
    <p padding >Gerenciar seus filmes nunca foi tão fácil como agora.Esse é o movie maniac um aplicativo que te ajudará a organizar melhor seus filmes favoritos.</p>
  </ion-slide>

  <ion-slide style="background-color: white">
    <img src = "assets/imgs/team.png">
    <h2>Receba dicas de seus amigos</h2>
    <p padding>Gostou de um filme? Você poderá indica-lo para seus amigos e pode receber dicas também facilitando na escolha de um bom filme para assistir.</p>
  </ion-slide>

  <ion-slide style="background-color: white">
    <img src = "assets/imgs/approve-invoice.png">
    <h2>Crie suas próprias listas de filmes</h2>
    <p padding>Dispense listas feitas em papel, com o movieManiac você será capaz de criar suas próprias listas e organizar seus filmes para assistir</p>
  </ion-slide>

  <ion-slide style="background-color: white">
    <img src="assets/imgs/bar-chart.png">
    <h2 padding>Veja estatísticas detalhadas dos filmes</h2>
    <p padding>Você poderá visualizar estatísticas de todos os filmes avaliados por cada usuário.</p>
    <button ion-button color="dark" (click)="GoToPage('LoginPage')">Continuar</button>
  </ion-slide>

</ion-slides>